@import "../base/styles.css";

.v-formlayout-row>td {
	border-bottom: none ! important;
}

.appointment-save-button {
	margin-bottom: -350px;
}

.v-splitpanel-first-container {
	height: 80% !important;
}

.v-splitpanel-second-container {
	height: 80px !important;
	top: 80% !important;
}

.cal-appointment-button {
	background-color: white;
	border-style: solid;
	border-radius: 15px;
	min-height: 60px;
/* 	overflow: hidden; */
	padding:10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
/* 	max-width: 99%; */
}

.calendar-vertical-layout div.cal-appointment-button {
	text-align: center;
	height: 100px;
	overflow:hidden;
	max-width: 90%;
	
}
